.schedule_title {
  color: white;
  font-size: 32px;
  font-family: "area-normal", sans-serif;
  font-weight: 700;
}

.schedule_text {
  color: white;
  font-size: 32px;
  font-family: "area-normal", sans-serif;
  font-weight: 700;
}

.schedule_appointment {
  color: white;
  font-size: 32px;
  font-family: "area-normal", sans-serif;
  font-weight: 700;
}

